.skeleton {
  background-color: rgb(199, 199, 199);
  margin: 0.75rem 0;
  border-radius: 0.25rem;
}

.skeleton.title {
  height: 2.25rem;
  margin-bottom: 1rem;
}

.skeleton.text {
  height: 0.75rem;
}

.skeleton.image {
  height: 16rem;
  margin: 1.5px;
}
.skeleton.profile-image {
  height: 20rem;
  margin: 1.5px;
}

.skeleton.input {
  height: 14rem;
}

.skeleton.width-100 {
  width: 100%;
}

.skeleton.width-50 {
  width: 80%;
}

.skeleton.width-25 {
  width: 50%;
}

.skeleton.width-10 {
  width: 30%;
}

.skeleton.profile-page-img-width {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.skeleton.profile-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* animation */
@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
